* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slide {
    width: 100%;
}

.container {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1200px;
    position: relative;
}

.next,
.prev {
    position: absolute;
    top: 46%;
    font-size: 45px;
    color: white;
}

.prev {
    padding-left: 250px;
}

.next {
    right: 0;
    padding-right: 250px;
}

.text1,
.text2 {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
}

.text1 {
    bottom: 22%;
    font-size: 28px;
}

.text2 {
    bottom: 14%;
    font-size: 20px;
}
.dsadsa .btn{
    width: 15px;
    height: 15px;
    margin: 2px;
    border-radius: 50%;
    cursor: pointer;
   color:white ;
    background-color: black; 
}
.btn:hover{
    background-color: white;
}